*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  background: #1e1e1e;
}

.service{
  width: 100%;
  height: 150px;
  background: black;
}

.service::after{
  content: '';
  clear: both;
  display: table;
}

.in{
  width: 20%;
  height: 150px;
  float: left;
}

.in img{
  width: 70%;
  height: 120px;
  margin-left: 15%;
  margin-top: 15px;
}

.out{
  width: 80%;
  height: 150px;
  float: right;
}

.out nav{
  margin: 0;
  padding: 0;
}

.out nav ul{

}

.out nav ul li{
  margin-top: 73px;
  margin-left: 2%;
  display: inline-block;
  font-size: 20px;
  border: 2px;
  border-radius: 10px;
}

.out nav ul li:hover{
  border-top: 2px solid blue;
  border-bottom: 2px solid orange;
  border-left: 2px solid blue;
  border-right: 2px solid orange;
}

.out nav ul li a{
  color: white;
  text-decoration: none;
}

section{
  width: 100%;
}

.contatnier::after{
  content: '';
  clear: both;
  display: table;
}

.box{
  width: 50%;
  float: left;
}

.to{
  width: 90%;
  margin-left: 5%;
  margin-top: 10%;
  border: 2px;
}

.it{
  position: relative;
  width: 100%;
}

.it label{
  color: white;
  margin-left: 5%;
}

.it i{
  position: absolute;
  left: 5%;
  top:27px;
  padding: 13px 11px;
  color: white;
}

.it input{
  width: 90%;
  height: 35px;
  margin-left: 5%;
  padding-left: 30px;
  margin-top: 2%;
  margin-bottom: 1%;
  background: black;
  color: lightgreen;
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid black;
}

.it input:hover{
  border-top: 2px solid darkgrey;
  border-bottom: 2px solid lightgrey;
  border-left: 2px solid lightgrey;
  border-right: 2px solid darkgrey;
}

.it textarea{
  width: 90%;
  height: 150px;
  margin-left: 5%;
  background: black;
  color: green;
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid black;
}

.it textarea:hover{
  border-top: 2px solid darkgrey;
  border-bottom: 2px solid lightgrey;
  border-left: 2px solid lightgrey;
  border-right: 2px solid darkgrey;
}

.it button{
  width: 10%;
  height: 50px;
  margin-top: 20px;
  margin-left: 5%;
  background: black;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
}

.it button:hover{
  border-top: 2px solid darkgrey;
  border-bottom: 2px solid lightgrey;
  border-left: 2px solid lightgrey;
  border-right: 2px solid darkgrey;
}

.inbox{
  width: 50%;
  float: right;
}
