*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  background: #1e1e1e;
}

.service{
  width: 100%;
  height: 150px;
  background: black;
}

.service::after{
  content: '';
  clear: both;
  display: table;
}

.in{
  width: 20%;
  height: 150px;
  float: left;
}

.in img{
  width: 70%;
  height: 120px;
  margin-left: 15%;
  margin-top: 15px;
}

.out{
  width: 80%;
  height: 150px;
  float: right;
}

.out nav{
  margin: 0;
  padding: 0;
}

.out nav ul{

}

.out nav ul li{
  margin-top: 73px;
  margin-left: 2%;
  display: inline-block;
  font-size: 20px;
  border: 2px;
  border-radius: 10px;
}

.out nav ul li:hover{
  border-top: 2px solid blue;
  border-bottom: 2px solid orange;
  border-left: 2px solid blue;
  border-right: 2px solid orange;
}

.out nav ul li a{
  color: white;
  text-decoration: none;
}

section{
  width: 100%;
}

.contatnier::after{
  content: '';
  clear: both;
  display: table;
}

.box{
  width: 40%;
  float: left;
}

.inbox{
  width: 60%;
  float: right;
}

.inbox h2{
  color: purple;
  text-align: center;
  margin-top: 2%;
  font-size: 25px;
}

.inbox p{
  color: white;
  text-align: center;
  margin-top: 5%;
  font-size: 22px;
}
